* {
  margin: 0;
  padding: 0;
}

.list-style-none {
  list-style: none;
}
.bg-violate {
  background-color: #292961;
}
.mi-logo {
  height: 28px;
}
.bg-light-violate {
  background-color: #4b4b7e;
}
.bg-light-gray {
  background-color: #fafafa;
}
.br-3 {
  border-radius: 3px;
}
.f-11 {
  font-size: 11px;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.text-light-blue {
  color: rgba(209, 209, 240, 0.8);
}
.search_input::-webkit-input-placeholder {
  color: rgba(209, 209, 240, 0.8);
  font-size: 14px;
}
.outline-none {
  outline: none;
}
.wi-33 {
  width: 350px;
  height: 650px;
  overflow: auto;
}
.w-160{
  width: 150px;
}
.w-220{
  width: 210px;
}
.h-500 {
  height: 520px;
}
.overflow-auto {
  overflow: auto;
}
.gap-15 {
  gap: 15px;
}
.cursor-grab {
  cursor: grab;
}
.card_animation {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 500ms ease 0s;
}
.profile-circle{
  height: 25px;
  width: 25px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Dark Mode */
.bg-dark-nav{
  background-color:#101028;
}
.bg-dark-nav-search{
  background-color: #283142;
}
.bg-dark-common{
  background-color: #101028db;
}
.bg-dark-card{
  background-color: #0000ff14;
}
.bg-dark-btn{
background-color: #2a528e;
}
/*  */