* {
  margin: 0;
  padding: 0;
}

.list-style-none {
  list-style: none;
}
.bg-violate {
  background-color: #292961;
}
.mi-logo {
  height: 28px;
}
.bg-light-violate {
  background-color: #4b4b7e;
}
.bg-light-gray{
  background-color: #fafafa;
}
.br-3 {
  border-radius: 3px;
}
.f-11{
  font-size: 11px;
}
.f-12{
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.text-light-blue {
  color: rgba(209, 209, 240, 0.8);
}
.search_input::-webkit-input-placeholder {
  color: rgba(209, 209, 240, 0.8);
  font-size: 14px;
}
.outline-none{
  outline: none;
}
.wi-33{
  width: 28%;
}
.h-500{
  height: 520px;
}
.overflow-auto{
  overflow: auto;
}
.gap-15{
  gap: 15px;
}
